$black_color: black;

body {
  font-family: "Poppin-Regular";
}

@font-face {
  font-family: "Poppin-Black";
  src: url("./assets/Fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppin-BlackItalic";
  src: url("./assets/Fonts/Poppins-BlackItalic.ttf");
}

@font-face {
  font-family: "Poppin-Bold";
  src: url("./assets/Fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppin-BoldItalic";
  src: url("./assets/Fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: "Poppin-ExtraBold";
  src: url("./assets/Fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppin-ExtraBoldItalic";
  src: url("./assets/Fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Poppin-ExtraLight";
  src: url("./assets/Fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppin-ExtraLightItalic";
  src: url("./assets/Fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Poppin-Italic";
  src: url("./assets/Fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppin-Light";
  src: url("./assets/Fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppin-LightItalic";
  src: url("./assets/Fonts/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "Poppin-Medium";
  src: url("./assets/Fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppin-MediumItalic";
  src: url("./assets/Fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: "Poppin-Regular";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppin-SemiBold";
  src: url("./assets/Fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppin-SemiBoldItalic";
  src: url("./assets/Fonts/Poppins-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Poppin-Thin";
  src: url("./assets/Fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppin-ThinItalic";
  src: url("./assets/Fonts/Poppins-ThinItalic.ttf");
}
